/* 
 * Copyright (c) 2020 OnePacs LLC, All rights reserved
 * November 05, 2020 by Jay Liu
 */

.GeneralPreferences
    display: flex
    padding: 20px 0

    .generalColumn
        display: flex
        flex-direction: column
        flex-basis: 0
        flex-grow: 1.5
        margin: 0 5px

    .generalRow
        margin-bottom: 10px

    .measurement-precision-section
        margin-top: 20px

    .RadioButtonGroup
        margin-top: 10px
