/* 
 * Copyright (c) 2021 OnePacs LLC, All rights reserved
 * May 28, 2021 by PoyangLiu
 */
 
.series-thumbnails
  overflow: hidden
  transition: var(--sidebar-transition)

  .thumbnail-container
    padding-bottom: 0 !important
    padding-top:  0.5rem

    .ImageThumbnail
      border-width: 5px
