/* 
 * Copyright (c) 2020 OnePacs LLC, All rights reserved
 * October 05, 2020 by Jay Liu
 */

.study-list-row
    .secondary-text
        color: #60656f;

    .column-description
        white-space: pre-wrap;
        flexGrow: 1;

    .column-modalities
        maxWidth: 4rem;
        width: 4rem;
