/* 
 * Copyright (c) 2020 OnePacs LLC, All rights reserved
 * November 10, 2020 by Jay Liu
 */

.SuvPreferences
    display: flex
    padding: 20px 0
    flex-direction: column

    .suvColumn
        display: flex
        flex-direction: column
        flex-basis: 0
        flex-grow: 1.5
        margin: 0 5px

    .suvRow
        margin-bottom: 10px

    .suvTitle
        margin-top: 20px
        margin-bottom: 20px
