/* 
 * Copyright (c) 2020 OnePacs LLC, All rights reserved
 * November 26, 2020 by Jay Liu
 */

.imageViewerViewport.empty ~ .OnePacsViewportOverlay
    display: none


.OnePacsViewportOverlay
    color: #9ccef9

    &.hidden
        display: none

    .uppercase
        text-transform: uppercase

    .overlay-element
        position: absolute
        font-weight: 400
        text-shadow: 1px 1px #000
        pointer-events: none

    .top-left
        top: 20px
        left: 20px

    .top-center
        top: 20px
        padding-top: 20px
        width: 100%
        text-align: center

    .top-right
        top: 20px
        right: 20px
        text-align: right

    .bottom-left
        bottom: 20px
        left: 20px

    .bottom-right
        bottom: 20px
        right: 20px
        text-align: right

    &.controlsVisible
        .topright,.bottomright
            right: calc(20px + 19px)

    svg
        color: #9ccef9
        fill: #9ccef9
        stroke: #9ccef9
        background-color: transparent
        margin: 2px
        width: 18px
        height: 18px

    .priorIndicator
        font-style: italic
        color: yellow

    .compressionIndicator
        color: yellow

    .institutionName
        margin-bottom: 1rem

    .patientHistory
        margin-top: 0.5rem
        width: 30%
        font-size: 0.86em
        line-height: 1.2em

        &.expandable
            pointer-events: auto
            cursor: pointer

        svg
            width: 1em
            vertical-align: middle
            margin-top: 0


    .imageStatus
        margin-bottom: 1rem
        svg
            width: 1em
            vertical-align: middle
            margin-top: 0

