/* 
 * Copyright (c) 2020 OnePacs LLC, All rights reserved
 * October 05, 2020 by Jay Liu
 */

#viewer
    background-color: black;
    width: 100%;

.loadingTextDiv
    color: var(--text-secondary-color);
    font-size: 30px;


.ViewerMain

    // Target the ViewportOverlay element style using a CSS variable
    // The actual value of the variable will be set in javascript.
    .ViewportOverlay
        font-size: var(--viewportOverlayFontScale)
