/* 
 * Copyright (c) 2020 OnePacs LLC, All rights reserved
 * October 29, 2020 by Jay Liu
 */


.MouseToolsetsPreferences
    display: flex
    padding: 20px 0
    text-align: center

    .toolsetColumn
        display: flex
        flex-direction: column
        flex-basis: 0
        flex-grow: 1.5
        margin: 0 5px

        &.button
            flex-grow: 0.1
            padding-top: 5px
            padding-left: 5px

        &.left,.middle,.right
            flex-grow: 1

    .toolsetRow
        display: flex
        flex-direction: row
        margin: 5px 0

    .select-ohif
        width: 100%
        margin-bottom: 15px

    button
        margin-bottom: 15px
