/* 
 * Copyright (c) 2020 OnePacs LLC, All rights reserved
 * October 05, 2020 by Jay Liu
 */

.load-error
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
