/* 
 * Copyright (c) 2020 OnePacs LLC, All rights reserved
 * October 09, 2020 by Jay Liu
 */


.tooltip-trigger.tooltip

    .tooltip-arrow
        background-color: var(--primary-background-color)
        border-bottom-color: var(--ui-border-color-active) !important

    .tooltip-inner
        color: var(--ui-border-color-active)
        background-color: var(--primary-background-color)
        border: 1px solid var(--ui-border-color-active)
        border-radius: 4px

        .title
            font-weight: 750

        .description
            font-size: 0.9em
