/* 
 * Copyright (c) 2020 OnePacs LLC, All rights reserved
 * November 18, 2020 by Jay Liu
 */

.AboutContent

    .logo
        margin-right: 1rem

    .logoText
        display: inline-block
        font-size: 18pt
        line-height: 3rem
        text-decoration: none

    .version
        padding-top: 1rem
        padding-bottom: 1rem
        font-size: 14pt

    .btn
        padding: 1rem
        margin-top: 1rem
        margin-right: 1rem
